Source: soapyaudio
Section: libs
Priority: optional
Maintainer: Charles J. Cliffe <cj@cubicproductions.com>
Uploaders: Josh Blum <josh@pothosware.com>
Build-Depends:
    debhelper (>= 9.0.0),
    cmake,
    librtaudio-dev,
    libpulse-dev,
    libhamlib-dev,
    libsoapysdr-dev
Standards-Version: 4.1.4
Homepage: https://github.com/pothosware/SoapyAudio/wiki
Vcs-Git: https://github.com/pothosware/SoapyAudio.git
Vcs-Browser: https://github.com/pothosware/SoapyAudio

Package: soapysdr0.7-module-audio
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Soapy Audio - Audio device support for Soapy SDR.
 A Soapy module that supports Audio devices within the Soapy API.

Package: soapysdr-module-audio
Architecture: all
Depends: soapysdr0.7-module-audio, ${misc:Depends}
Description: Soapy Audio - Audio device support for Soapy SDR.
 A Soapy module that supports Audio devices within the Soapy API.
 .
 This is an empty dependency package that pulls in the audio module
 for the default version of libsoapysdr.
